.mapView {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: var(--radius-sm);
  background-color: var(--color-bg-soft);
  overflow: hidden;
  isolation: isolate;
}

.mapView > .container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
