/* TODO: Видалити разом із тимчасовим StarRating.tsx після переходу на спільний компонент. */
.starRating {
  display: inline-flex;
  width: fit-content;
  --star-size: var(--fs-text-small);
  font-size: var(--star-size);
  line-height: 1;
  color: var(--color-text);
}

.stars {
  display: grid;
  grid-template-columns: repeat(5, var(--star-size));
}

.star {
  position: relative;
  width: var(--star-size);
  height: var(--star-size);
  white-space: nowrap;
}

.filledStar {
  position: absolute;
  inset: 0 auto auto 0;
  overflow: hidden;
  white-space: nowrap;
}

@media (min-width: 1440px) {
  .starRating {
    --star-size: var(--space-6);
  }
}

.interactive {
  display: inline-flex;
}

.starButton,
.activeStar {
  font-size: var(--fs-text-large);
  transition: color var(--transition);
}

.starButton {
  color: var(--color-neutral-lighter);
}

.activeStar,
.starButton:hover {
  color: var(--color-accent);
}
